.about-us-page {
  width: 100%;
  height: auto;
}

/** INTRO SECTIONAL COMPONENT **/

.about-us-page .intro-icon {
  position: absolute;
  width: 222px;
  height: 369px;
  margin-top: 60px;
  right: 0;
  opacity: 0.15;
}

.about-us-page .about-intro {
  margin-top: 147px;
  padding-bottom: 149px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about-us-page .about-intro .intro-img {
  width: 590px;
  height: 590px;
  border-radius: 590px;
}

.about-us-page .about-intro .txt-area {
  flex-direction: column;
  align-content: space-between;
}

.about-us-page .about-intro .txt-area .main-txt {
  width: 580px;
  height: 139px;
  margin-top: 10px;

  font-family: "Berkshire Swash";
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px; /* 106.667% */
  color: #0f0200;
}

.about-us-page .about-intro .txt-area .extra-txt {
  width: 580px;
  margin-top: 30px;
  font-family: Archivo;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
  color: #646464;
}

.about-us-page .about-intro .txt-area .button {
  width: 192.05px;
  height: 62px;
  margin-top: 30px;
  border-radius: 30px;
}

/** MOMENTS **/
.about-us-page .about-us-moments {
  height: 723px;
  position: relative;
  overflow: hidden;
  background: #683292;
}

.about-us-page .about-us-moments .moments-img {
  position: absolute;
  right: -5%;
  z-index: 0;
}

.about-us-page .about-us-moments .momentsIcon1 {
  position: absolute;
  margin-top: 215px;
  margin-left: 140px;
}

.about-us-page .about-us-moments .momentsIcon2 {
  position: absolute;
  margin-top: 425px;
  margin-left: 100px;
}

.about-us-page .about-us-moments .momentsIcon3 {
  position: absolute;
  margin-top: 519px;
  margin-left: 740px;
}

.about-us-page .about-us-moments .txt-area {
  position: relative;
  width: 520px;
  margin-top: 159px;
  margin-left: 60px;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.about-us-page .about-us-moments .txt-area .main-txt {
  font-family: "Berkshire Swash";
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px; /* 106.667% */
  color: #fff;
}

.about-us-page .about-us-moments .txt-area .extra-txt {
  margin-top: 36px;
  font-family: Archivo;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
  color: #fff;
}

.about-us-page .about-us-moments .txt-area .button {
  width: 192.05px;
  height: 62px;
  margin-top: 46px;
  font-size: 18px;
  border-radius: 30px;
  text-decoration: none;
  text-transform: none;
}

/** STATISTICS sectional component **/

.about-us-page .statistics {
  display: flex;
  flex-direction: column;
  margin-top: 134px;
  padding-bottom: 150px;
}

.about-us-page .statistics .txt-area {
  justify-content: center;
}

.about-us-page .statistics .txt-area .main-txt {
  text-align: center;
  font-family: "Berkshire Swash";
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
}

.about-us-page .statistics .txt-area .extra-txt {
  margin-top: 13px;
  text-align: center;
  font-family: Archivo;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 130% */
  color: #646464;
}

.about-us-page .statistics .static-cards {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
}

.about-us-page .statistics .static-card {
  width: 255px;
  height: 182px;
  margin-top: 40px;
  border-radius: 15px;
  border-bottom: 2px solid #f83d8e;
  background: #fff;
  box-shadow: 0 12px 105px 12px rgba(0, 0, 0, 0.03);
}

.about-us-page .statistics .static-card .static-number {
  margin-top: 42px;
  text-align: center;
  font-family: "Berkshire Swash";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px; /* 100% */
  color: #0f0200;
}

.about-us-page .statistics .static-card .static-symbol {
  text-align: center;
  font-family: Archivo;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 100% */
  color: #f83d8e;
}

.about-us-page .statistics .static-card .static-txt {
  margin-top: 28px;
  text-align: center;
  font-family: Archivo;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 100% */
  color: #646464;
}

/** TEAM MEMBERS sectional component **/

.about-us-page .team-members {
  display: flex;
  flex-direction: column;
  padding-top: 136px;
  padding-bottom: 136px;
}

.about-us-page .team-members .txt-area {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.about-us-page .team-members .txt-area .main-txt {
  color: #0f0200;
  text-align: center;
  font-family: "Berkshire Swash";
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px; /* 106.667% */
}

.about-us-page .team-members .txt-area .extra-txt {
  margin-top: 13px;
  text-align: center;
  font-family: Archivo;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 130% */
  color: #646464;
}

.about-us-page .team-members .member-cards {
  margin-top: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
}

.about-us-page .team-members .member-cards .member-card {
  width: 360px;
  height: 540px;
  flex-direction: column;
  align-content: space-between;
  background: white;
  border-radius: 30px;
  border-top: 2px solid #f83d8e;
  border-bottom: 2px solid #f83d8e;
}

.about-us-page .team-members .member-cards .member-card .member-img {
  width: 310px;
  height: 310px;
  margin-top: 20px;
  margin-left: 25px;
  border-radius: 310px;
  background: lightgray 0px 0px / 100% 100% no-repeat;
}

.about-us-page .team-members .member-cards .member-card .member-name {
  margin-top: 32px;
  text-align: center;
  font-family: Archivo;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 100% */
  color: #212529;
}

.about-us-page .team-members .member-cards .member-card .member-job {
  margin-top: 7px;
  text-align: center;
  font-family: Archivo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  color: #646464;
}
