@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");

.other-navbar .main-txt {
  text-align: center;
  font-family: "Berkshire Swash", serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 80px;
  color: #0f0200;
}
/*******************************************/
/** HomeNavbar body*/
.welcome-txt {
  font-family: "Berkshire Swash";
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 100% */
  color: #f83d8e;
}

.dis-txt {
  font-family: "Berkshire Swash";
  font-size: 100px;
  font-style: normal;
  font-weight: 600;
  line-height: 108px; /* 96.429% */
  color: #fff;
}

.intro-txt {
  width: 560px;
  font-family: Archivo;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 136.364% */
  color: #c2c8c2;
}
